*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn{
    text-decoration: none;
    color: black;
}

.container{
    margin:auto;
    display: flex;
}

.logo > div > h1{
    justify-content: center;
  
    padding:20px;
    font-family: 'Nunito', sans-serif;
    font-weight:normal;
    font-size:24px;
    color: #00376E;
    display:inline-block;
}
.navbar{
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
}
.nav{
    padding:20px;
    margin-left:1000px;
}
.nav a{
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding:5px;
    margin: 2px 5px;
    display:inline-block;
}
.navbar a:hover{
        background-color:  #4CB5AB;
        color:white;
        border-radius: 5px;
}
.box{
    border:1px solid red;
    max-width: 1320px;
    margin: auto;
    margin-top: 50px;
    display: flex;
   
}
.barista{
    border:1px solid green;
    margin-left: 20px;
    background-color:   #62beb5;
    width:40%;
}
.blend{
    border:1px solid gray;
    color:white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    padding-top: 20px;

}
.img{
    border:1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding:30px;
}
.star{
    color: rgb(255, 203, 71);
    padding-top: 20px;
    font-size:15px;
}
