*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: white;
    width: 100%;
    /* background-color: white; */
    /* position: fixed; */

}

.btn{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    width:100%;
    /* border: 1px solid red; */
    justify-content: space-between;
    padding: 20px;
}

.logo{
    color: #00376E;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    text-transform: none;
    line-height: normal;
    letter-spacing: normal;
    /* border: 1px solid black; */
    width: 40%;
    text-align: center;
}     
.navbar{
    display: flex;
    /* border:1px solid black; */
    width: 40%;
}
.navbar a{
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding:5px;
    margin: 2px 15px;
    display:inline-block;
    font-family: 'Noto Sans', sans-serif;
}
.navbar a:hover{
        background-color:  #4CB5AB;
        color:white;
        border-radius: 5px;
}
.slider{
    border:1px red solid;
    overflow: hidden;
    scroll-behavior: smooth;
}
.main-slide{
    border:5px solid blue;
    width:300%;
    display: flex;
    animation: sliding 10s infinite ease-in-out;
}

@keyframes sliding {
    0%{
        margin-left: 0%;
    }
    50%{
        margin-left: -100%;
    }

    100%{
        margin-left:-200%
    }
}

.line{
    border: 2px solid black;
    width: 70px;
    margin: auto;
    margin-top: 40px;
}
.slide{
    border:1px solid black;
    height:600px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.bg1{
    border:1px solid black;
    background-image: url(img/img1.jpg);
    background-size: cover;
    background-color: rgba(41, 10, 10, 0.589);
    background-blend-mode:overlay;
}
.bg2{
    border:1px solid black;
    background-image: url(img/img2.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.548);
    background-blend-mode:overlay;
}
.bg3{
    border:1px solid black;
    background-image: url(img/img3.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.418);
    background-blend-mode:overlay;
}
.btn{
    margin:auto;
    width:200px;
    display:flex;
    justify-content: space-evenly;
    transform: translatey(-80px);
    padding:10px;
}
.btn>a{
    text-decoration: none;
    border-radius: 50%;
    background-color: white;
    border:1px solid black;
    padding:5px;
}
.slide>h2{
    color:white;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size:3em;
    text-align: center; 
}
.slide>p{
    color:white;
    text-align: center;
    font-size:16px;
    font-family: 'Lora', serif;
}
.slide>a{
    color:white;
    text-align: center;
    display: block;
    border:1px solid white;
    width:200px;
    height:50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 45px;
}

.slide>h1{
    color:white;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size:3em;
    text-align: center; 
}
.slide>p{
    color:white;
    text-align: center;
    font-size:16px;
    font-family: "Roboto", sans-serif;
}
.slide>a{
    color:white;
    text-align: center;
    display: block;
    border:1px solid white;
    width:200px;
    height:50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 45px;
}

.container-fluid{
    text-align: center;
    color: #00376E;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    background-color: #F4FAFA;
    justify-content: space-between;
    border:1px red solid;
}
.img{
    background-image: url(img/img4.png);
    background-image: url(img/img5.png);
    background-image: url(img/img6.png);
    border:1px red solid;
    height:300px;
}
.crafts{
    max-width:1320px;
    margin:auto;
  
}
.craft{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.crafting{
    color: #00376E;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
.crafting>h3{
    font-size:100px;
}
.craft1{
    width:33.33%;
    padding: 20px;
}
.craft2{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.heading{
    color: #00376E;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    background-color: white;
}
.text{
    color:#5981A9;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}
.craft2 a{
    font-size:14px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    padding: 20px;
    color:#4cb5ab;
    border:1px solid #4cb5ab;
    border-radius: 50px;
    width:300px;
    text-decoration: none;
    display: block;
    margin: auto;
}
.a:hover{
        background-color: #4CB5Ab; 
        text-decoration: none;
}
.all{
    color: #00376E;
    padding-left: 233px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
   padding-top: 45px;
   padding-bottom: 31px;
}
.barista{
        max-width:1320px;
        margin:auto;
        display: flex;
}
.imgs{
    border:1px solid gray;
    background-image:url(img/img8.jpg) ;
    background-image:url(img/img9.jpg) ;
    background-image:url(img/img10.jpg) ;
    background-image:url(img/img11.jpg) ;
    background-image:url(img/img12.jpg) ;
}
.blend{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #00376E;
}
.rs{
    font-size: 18px;
    color: #00376E;
    font-family: 'Noto Sans', sans-serif;
}
.barista{
        max-width:1320px;
        margin:auto;
        display: flex;
}
.sale{
    border-radius: 100px;
    padding:15px;
    position: absolute;
    right:0px;
    top:112px;
    background-color: #4cb5ab;
    color: white;
}
.lock{
    border-radius: 100px;
    padding:15px;
    position: absolute;
    right:0px;
    top:70px;
    background-color: white;
    color: #4cb5ab;
    font-size:30px;
}


.coffee{
    position:relative;
}

.img-hover{
  
    position: absolute;
    left:50%; 
    top:50%;
    transform: translate(-50%, -50%);
    width:80%;
    height: 80%;
    background-color: #5ebcb3a8;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px
}
.coffee:hover .img-hover{
    display: flex;
}
.img-hover button{
    padding: 10px 20px;
    background:transparent;
    border: 1px solid white;
    color: white;
    border-radius: 0px;
    
}

.img-hover button:hover{
background-color: white;
color: black;
}
.img-hover .ri-search-line{
    color:white;
}

.img-hover p{
    border-bottom: 1px solid white;
    width:100px;
    text-align: center;
    padding-bottom: 10px;
}
.with{
    max-width:1320px;
    margin:auto;
    display:flex;
}
.head{
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    color:#00376E;
    padding-top:168px;

}
.commited{
    align-items:center;
    padding-top:30px ;
    color: #5981A9;
    font-size: 14px;

}
.box1{
    width:50%;
    font-family: 'Noto Sans', sans-serif;
    padding:50px;
}
.box2{

    width:50%;
    font-family: 'Noto Sans', sans-serif;
    padding:30px;
}
.fair>h5{
    color: #00376E;
    font-size: 16px;
    padding:20px;
    font-weight: normal;
}
div>button{
    background-color: #4CB5AB;
    border-radius: 19px;
    color:white;
    font-size: 14px;
    padding:10px;
    border:0px;
}
div>button:hover{
    background-color:#0a5e55 ;
}
.source{
    display: flex;
    
}
.ims{
    margin-right: 20px;
    border:1px solid black;
    padding:10px;
}
.bigbox{
    padding: 23px;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 40px;
}
.commited{
 line-height: 1.8;
}
.smallbox{
    display:flex;
}
.sale1{
    border-radius: 100px;
    padding:15px;
    position: absolute;
    left:430px;
    top:99px;
    background-color: #4cb5ab;
    color: white;
}
.lock1{
    border-radius: 100px;
    padding:15px;
    position: absolute;
    right:95px;
    top:70px;
    background-color: white;
    color: #4cb5ab;
    font-size:30px;
}
.photo{
    /* height:400px; */
    background-image:linear-gradient(to bottom, rgba(90, 29, 22, 0.65), rgba(90, 29, 22, 0.781)), url(img/img1.jpg);
    background-size: cover;
    padding: 60px 0px;
    margin-top:50px;
    /* background-blend-mode:overlay; */
    background-position: center;
    line-height: 40px;
}

.b-blue{
    border:1px solid blue;
}

.b-green{
    border:1px solid green;
}
.p10{
    padding: 20px;
}

.container0{
    max-width: 1320px;
    margin:100px auto;
}

.bs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-bs{
    width:33.33%
}
.sub-bs-1 img{
    width:100%
}

.bs-details p{
 color: #0a5e55;
 text-align: center;
 padding: 10px;
}

.sub-bs-1{
    position: relative;
}
.sale0{
    width: 50px;
    height: 50px;
    background-color: #4CB5AB;
    color: white;
    font-weight: 500;
    font-family:  'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top:25%;
}
.seller{
    max-width: 1320px;
    font-size: 40px;
    font-family:  'Noto Sans', sans-serif;
     color: #00376E;
}
.bs-details>a{
    text-align: center;
    display: block;
    font-size: 15px;
    font-family:  'Noto Sans', sans-serif;
     color: #00376E;
}
.rs{
    text-align: center;
    display: block;
    font-size: 15px;
    font-family:  'Noto Sans', sans-serif;
     color: #00376E;
}
.lock0{
    width: 50px;
    height: 50px;
    background-color: white;
    color: #4CB5AB;
    font-weight: 500;
    font-family:  'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top:25%;
}
.table{
    color:white;
    font-family:  'Noto Sans', sans-serif;
    text-align: center; 
    font-size: 35px;
}
.update{
    padding-top: 5px;
    color:white;
    font-family:  'Noto Sans', sans-serif;
    text-align: center; 
}
.details{
    max-width: 1320px;
    margin:auto;
    padding: 80px;
    display: flex;
}
.about{
    width:25%;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}
.us{
    padding-bottom: 10px;
    color:  #00376E;
}
.company a{
    color:skyblue;
    display:block;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #4CB5AB;
    padding:5px;
}
.e-mail{
    text-align: center;
}
.e-mail input{
    padding:10px;
    background-color: transparent;
    border:RGBA(255, 255, 255, 0.5) 1px solid;
    color:#FFFFFF;
}
.e-mail button{
    border-radius:0px;
    background-color: white;
    color: #4CB5AB;
    margin:5px;
}