*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.btn{
    text-decoration: none;
    color: black;
}

.container{
    margin:auto;
    display: flex;
}

.logo > div > h1{
    justify-content: center;
  
    padding:20px;
    font-family: 'Nunito', sans-serif;
    font-weight:normal;
    font-size:24px;
    color: #00376E;
    display:inline-block;
}
.navbar{
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
}
.nav{
    padding:20px;
    margin-left:1000px;
}
.nav a{
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding:5px;
    margin: 2px 5px;
    display:inline-block;
    font-family: 'Noto Sans', sans-serif;
}
.navbar a:hover{
        background-color:  #4CB5AB;
        color:white;
        border-radius: 5px;
}
.us{
    max-width: 1320px;
    margin: auto;
    padding-top:50px;
}
.us>h2{
    color: #00376E;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-top: 50px;
}
.us>p{
    color: #00376E;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 50px;
    font-size: 14px;
}
.line{
    max-width: 1320px;
    border:1px solid #3333332f;
    margin:auto;
    margin-top: 30px;
}
.michel{
    /* border:1px solid red; */
    max-width: 1320px;
    margin:auto;
    padding-top: 50px;
}
.jk{
    /* border:1px solid gray; */
    display: flex;
}
.add{
    /* border:1px solid navy; */
    width:33.33%;
    color: #5981A9;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.8;
}
.phone{
    /* border:1px solid navy; */
    width:33.33%;
    color: #5981A9;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.8;
}
.mail{
    /* border:1px solid navy; */
    width:33.33%;
    color: #5981A9;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.8;
}
.map{
    max-width: 1320px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 60px;
}
.details{
    max-width: 1320px;
    margin:auto;
    padding: 80px;
    display: flex;
}
.about{
    width:25%;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}
.us{
    padding-bottom: 10px;
    color:  #00376E;
}
.company a{
    color:skyblue;
    display:block;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #4CB5AB;
    padding:5px;
}
